.App{
    width: 800px;
    margin: 0 auto;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Error{
    text-align: center;
    padding: .5em;
    color:#e45050;
}
.Link{
    margin: .5em .5em .5em 0;
    display: block;
}
.Btn{
    margin-right: .5em;
    margin-top: .5em;
}
.Posts__text{
    width: 85%;
}
.Posts__btns{
    display: flex;
    align-items: center;
}
.Post__text{
    font-size: 16px;
    font-weight: bold;
}
.Post_link{
    display: block;
    font-size: 16px;
    margin-top: 1em;
}
.User__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}
.User__block span{
    text-transform: uppercase;
}
.LogOut{
    border: none;
    background: none;
    cursor: pointer;
    color: #1890ff;
}